#gaotv{
    width: 400px;
}

#main_gao{
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

#gaotv img{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0 ;
}

@media screen and (max-width:464px) {
    #gaotv{
        width: 80vw;
    }
    #main_gao {
        justify-content: center;
    }
    
}