.article_div{
	margin: 20px;
}

.article_div h4{
	padding: 20px 0 10px;
	background-color: #fff;
	font-weight: 100;
	font-size: 30px;
	text-decoration: underline solid 4px #fc6224;
}
.article_body{
	padding-top: 1px;
	background-color: #f1f5fa;
	margin: auto;
	width: 70%;
}
.article_card{
	/* display: block; */
	margin: 40px;
	padding: 2px 10px 24px;
	display: flex;
	/* height: 214px; */
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	border-bottom: solid 1px rgb(169, 169, 169);
}
.article_card img{
	max-width: 340px;
	aspect-ratio: 16/9;
	height: auto;
	object-fit: contain;
}

.heading-title{
	color: #000;
	font-weight: 400;
	font-size: 24px;
}
.card-image-1 {
	width: 100%;
	height: 280px;
	object-fit: cover;
	/* Maintain aspect ratio and cover the card */
	border-radius: 20px;
}
.card-1 {
	width: 90%;
	background-color: #fff;
	border: 1px;
	margin-bottom: 20px;
	border-radius: 30px;
	border: 1px solid #000000;
	font-family: "Poppins";
}
.article_content{
	margin: 8px 16px;
}
.article_content p{
	font-size: 1.4rem;
}
.card-content-1 {
	padding: 16px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.heading-article {
	color: #454545;
	font-size: 15px;
	/* font-weight: 400; */
}
.card-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* Display three cards in each row */
	gap: 15px;
	padding-left: 30px;
	padding-right: 30px;
}
.button-read {
	background: transparent;
	color: black;
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 30px;
}
.card-heading-1 {
	margin-bottom: 8px;
	color: #000;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.card-description-1 {
	color: #000;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.author h6{
	color: red;
}

@media screen and (max-width:1140px) {
	.article_div {
			margin: 10px;
		}
	
		.article_div h4 {
			padding: 10px 0;
			background-color: #fff;
			font-weight: 100;
			font-size: 29px;
			margin-bottom: 10px;
		}
	
		.article_body {
			padding-top: 1px;
			background-color: #f1f5fa;
			margin: auto;
			width: 100%;
			min-height: 80vh;
			/* text-overflow: wrap; */
		}
	
		.article_card {
			flex-direction: column;
			margin: 6px 2px;
			padding: 20px 10px;
			min-height: 370px;
			/* overflow: visible; */
		}
		.article_card img{
			min-height: 200px;
			object-fit: contain;
			margin: auto;
		}
	
		.heading-title {
			color: #000;
			font-size: 1.4rem;
		}
		.article_content p {
			font-size: 1.2rem;
		}
		.heading-article{
			font-size: 13px;
			text-overflow: ellipsis;
		}
}